body.page-forum .forumcategoryblock .forumcategoryheader {
  background: #28f;
  color: #fff;
  font-size: 12pt;
  font-weight: bolder;
  margin: 0px 0px 0px 0px;
}
body.page-forum .forumblock {
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  background-color: #fff;
}
body.page-forum .forumblock .forumname .forumtitle a {
  color: #147;
  font-weight: bolder;
}
body.page-forum .forumblock .forumlastpost {
  background-color: #f5f5f5;
}
body.page-forum .forumblock .forumlastpost .threadname a {
  color: #147;
  font-weight: bolder;
}
body.page-forum .threadlistsection .threadblock {
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  background-color: #fff;
}
body.page-forum .threadlistsection .threadblock a {
  color: #147;
  font-weight: bolder;
}
body.page-forum .threadlistsection .threadblock .threadmain .threadmeta .pagnationcomponent .page {
  background-color: #ffffff00;
  color: #000;
}
body.page-forum .threadlistsection .threadblock .threadmain .threadmeta .pagnationcomponent .page:hover {
  background-color: #ffffff00;
  color: #000;
}
body.page-forum .threadlistsection .threadblock .threadmain .threadmeta .pagnationcomponent:before {
  content: "( ";
}
body.page-forum .threadlistsection .threadblock .threadmain .threadmeta .pagnationcomponent:after {
  content: " )";
}
body.page-forum .threadlistsection .threadblock .user-moderator a {
  color: #00aa00;
}
body.page-forum .threadlistsection .threadblock .user-banned a {
  color: #ff0000;
}
body.page-forum .threadlistsection .threadblock.is-sticky {
  background-color: #ffa;
  color: #000;
}
body.page-forum .threadlistsection .threadblock.is-sticky A {
  color: #147;
  font-weight: bolder;
}
body.page-forum .threadlistsection .threadblock.is-sticky .threadmain .threadmeta .pagnationcomponent .page {
  background-color: #ffffff00;
  color: #000;
}
body.page-forum .threadlistsection .threadblock.is-sticky .threadmain .threadmeta .pagnationcomponent .page:hover {
  background-color: #ffffff00;
  color: #000;
}
body.page-forum .threadlistsection .threadblock.is-closed {
  background-color: #EEE;
  color: #888;
}
body.page-forum .forumpanel {
  margin: 0px 0px 0px 0px;
}
body.page-forum .threadviewsection .postblock {
  position: relative;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 0rem;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAABCAIAAAB/kG/JAAAACXBIWXMAAAsTAAALEwEAmpwYAAAABGdBTUEAAMJm1jgR7AAAACBjSFJNAACHCgAAjAoAAP7qAAB/BwAAgQIAAOqsAAA54QAAHisvnR+CAAAAW0lEQVR42mK8+vw/Aw0AI+kqGInUQYxGRiyCjBgsRjRZRuxmMjJidwMu7Yy4NDLiNJlILUQagux9khyM3bOEwodwgONwA0HFJCQnclMdVZWPApoDAAAAAP//AwCd0gL/WIUvsQAAAABJRU5ErkJggg==') repeat-y #fff;
}
body.page-forum .threadviewsection .postblock .posthead {
  color: #000;
}
body.page-forum .threadviewsection .postblock .posthead a {
  color: #000;
}
body.page-forum .threadviewsection .postblock .posthead strong {
  color: #000;
}
body.page-forum .threadviewsection .postblock .postmain .postbody p {
  color: #000;
}
body.page-forum .threadviewsection .postblock .postuser .username a {
  color: #147;
}
body.page-forum .threadviewsection .postblock .postuser .username .user-online a {
  color: #147;
  border-bottom: 1px dotted #147;
  font-weight: bolder;
}
body.page-forum .threadviewsection .postblock .postuser .user-moderator a {
  color: #00aa00;
}
body.page-forum .threadviewsection .postblock .postuser .user-banned a {
  color: #ff0000;
}
body.page-forum .threadviewsection .postblock:first-of-type {
  margin-top: 0rem;
}
body.page-forum .threadviewsection .postblock.postblock-read {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAABCAIAAAB/kG/JAAAACXBIWXMAAAsTAAALEwEAmpwYAAAABGdBTUEAAMJm1jgR7AAAACBjSFJNAACHCgAAjAoAAP7qAAB/BwAAgQIAAOqsAAA54QAAHisvnR+CAAAAaElEQVR42uySUQrAMAhD++5/yzLYNfa3Mo2iMOhP86WSpFbCvO6xFaRVU9hrogd5e4wa1SyFt7E/AVIKZi8+e+BLIqndCemoJ9F98PdEnUnME6pmaxr1XFBOUjet/G57UMUDAAD//wMAe9MC/0QvJCAAAAAASUVORK5CYII=') repeat-y #fff;
}
body.page-forum .threadviewsection .postblock.postblock-own {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAABCAIAAAB/kG/JAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKBJREFUeNrsUssVwzAIQ95/o+7UFdQkfCyoN2g5JEboIWGMN19msBkoiFIVHvIHNuhOkVUmmPUAksCHD6nhIHXH+rIIseqiKhdZ2oPnjsNWcjftOjCmHh4wLmTgT0OfolrpsJtQzU+Tok7cWq3EmOL6snvw6pIbGCbNpr3w0BdkIldrDTmKh8I1ZTPTVtw71yKaZPdTD4mnx/mP342PAAMAEIQy/ymIbxoAAAAASUVORK5CYII=') repeat-y #fff;
  box-shadow: inset 0px 0px #00000000;
}
body.page-forum .forumhead ul .content .title a {
  color: #000;
}
body.page-forum .forumhead ul .content .subtitle {
  margin-left: 0rem;
  opacity: 0.6;
  color: #212121;
  font-size: 1rem;
}
body.page-forum .forumblock.is-closed {
  background-color: #EEE;
  color: #888;
}
body {
  color: #000;
}
.forumlastpostavatar {
  background-color: #f5f5f5;
}
#wrapper {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAAACJklEQVR4nO3bOZbCMBBF0dcKvP/NsDmiDqBpMPIsqcafgDOdy7GRq0o/t9sNfZmmSXoJlRSdy7rf79JLqKSg9WdU6FUeH+m1J+X1Lb02U94v0ms9ZXadXiuZY5Fey6lgkV4LqWORXrUsYpFeX1nDIr0+s4FFer1lG4v0+ssuLNIL2I9Feh3CIrzXMSxiex3GIrDXGSyiep3EIqTXeSzieV3CIpjXVSwieTXAIoxXGyxieDXDIoBXSyy8ezXGwrVXeyz8enXBwqlXLyw8enXEwp1XXyx8eXXHwpHXCCy8eA3CwoXXOCzsew3FwrjXaCwsewlgYdZLBgubXmJYGPSSxMKalzAWprzksbDjpQILI15asLDgpQgL9V66sNDtpQ4LxV5F/IxHNTq9CtJnPJai0Ot5G6bXnvw/s9JrMx8P+PRaz/zfML1WUtk6pNdS6vus9KpmcVOaXt9Z28Gn1ywbrzvp9Z7td8P0emXXi3R6PbK36pBeHCrRpNexelZwr8PFv8heZyqlYb1OlpVjep2vwQf0utSwiOZ1tbsTyqtBKyyOV5u+YRCvZk3WCF4tO9LuvRq37317tZ91cOzVZTDEq1evKRqXXh1Hjvx59Z3PcubVfZjNk9eIyT83XoPGJH14jZspdeA1dADXutfoaWXTXgKj3Xa9ZObgjXqJHRqw6CV5wsKcl/BxFFte8md3DHnJY2HHSwUWRry0YGHBSxEW6r10YaHb6xfKLSwI423BYAAAAABJRU5ErkJggg==') #bbb;
}
.postlist {
  background-color: #fff;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAABCAIAAAB/kG/JAAAACXBIWXMAAAsTAAALEwEAmpwYAAAABGdBTUEAAMJm1jgR7AAAACBjSFJNAACHCgAAjAoAAP7qAAB/BwAAgQIAAOqsAAA54QAAHisvnR+CAAAAaElEQVR42uySUQrAMAhD++5/yzLYNfa3Mo2iMOhP86WSpFbCvO6xFaRVU9hrogd5e4wa1SyFt7E/AVIKZi8+e+BLIqndCemoJ9F98PdEnUnME6pmaxr1XFBOUjet/G57UMUDAAD//wMAe9MC/0QvJCAAAAAASUVORK5CYII=') repeat-y #fff;
}
.page-forum .postblock {
  background-color: #fff;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAABCAIAAAB/kG/JAAAACXBIWXMAAAsTAAALEwEAmpwYAAAABGdBTUEAAMJm1jgR7AAAACBjSFJNAACHCgAAjAoAAP7qAAB/BwAAgQIAAOqsAAA54QAAHisvnR+CAAAAaElEQVR42uySUQrAMAhD++5/yzLYNfa3Mo2iMOhP86WSpFbCvO6xFaRVU9hrogd5e4wa1SyFt7E/AVIKZi8+e+BLIqndCemoJ9F98PdEnUnME6pmaxr1XFBOUjet/G57UMUDAAD//wMAe9MC/0QvJCAAAAAASUVORK5CYII=') repeat-y #fff;
}
.title {
  color: #000;
}
.commits .change-entry .time {
  color: #000;
}
.commits .change-entry .time a {
  color: #000;
}
.commits .change-entry .change {
  color: #000;
}
.tabs li {
  color: #000;
}
.pagnation.threadpagnation {
  background: #28f;
  margin: 0rem 0;
}
.pagnation.threadpagnation A.page.is-active {
  background-color: #36a6ff;
  color: #fff;
}
.pagnation.postpagnation {
  background: #28f;
  margin: 0rem 0;
  background-image: none;
}
.pagnation.postpagnation A.page.is-active {
  background-color: #36a6ff;
  color: #fff;
}
.button.is-primary {
  background: #28f;
  margin: 0rem 0;
}
.ql-container.ql-snow .ql-editor postquote {
  border: 1px solid #888;
  margin: 10px;
}
.ql-container.ql-snow .ql-editor postquote .head {
  background-color: #ace;
  font-weight: 700;
  color: #05a;
}
.ql-container.ql-snow .ql-editor postquote .body {
  background-color: #bdf;
  color: #000;
}
.button {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #444;
  float: right;
  font-size: 9px;
  font-weight: 700;
  padding: 2px 10px;
}
.footer {
  background: #26f;
}
.footer a {
  color: #fff;
}
.navbar.is-primary {
  background: #28f;
}
.lastread {
  margin: 0rem 0px;
}
.box {
  background-color: #fff;
  color: #000;
}
.roadmap .column .roadmap-child .title {
  background-color: #fff;
  color: #000;
}
.flex-centered {
  background-color: #fff;
  color: #000;
}
.forumpanel {
  background-image: none;
}
.forumpanel:target {
  box-shadow: 0px 0px 0px white, 0px 0px 0px white, 0px 0px 0px rgba(200, 255, 255, 0.5) !important;
  border-radius: 0rem;
}
.ql-editor {
  color: #000;
  font-size: 0.9rem;
}
.ql-toolbar.ql-snow.toolbar button {
  color: #000;
}
html {
  background-image: none;
}
.navbar {
  background-image: none;
}
.forumcategoryheader {
  background-image: none;
}
