html,
body,
header,
#intro {
    height: 100%;
}

body {
	background: #2E2E2E!important;
	color: #f8f9fa!important;
}

hr {
	border-top: 1px solid rgb(75,81,93)!important;
}

#intro {
    background: url("../images/big.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar { box-shadow: none!important; }
.navbar.shadow { box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)}

.elegant-color-dark { background-color: rgba(255,255,255,0.2)!important;transition: background-color 0.4s ease 0s;}
.elegant-color-dark.opaque { background-color: rgba(46,46,46,0)!important;transition: background-color 0.4s ease 0s;}

.modal-body {
	padding: 0.5rem!important;
	background-color: #2e2e2e;
}