.postrender .postinner > .postuser .background-image:after {
    background: linear-gradient(to bottom, rgba(255,255,255,0), #e6e6e6 512px);
}

.postrender .postinner > .postuser .background-image::before {
	background-color: rgba(230,230,230,0.35) !important;
	transition: 0.125s all ease-out !important;
}

.postrender .postinner > .postuser { 
	max-width: 256px; flex-grow: 1; flex-basis: 256px; 
}

.postrender .postinner > .postuser .postavatar {
	transition: 0.125s all ease-out !important;
}

.postrender .postinner > .postuser .username {
	transition: 0.125s all ease-out !important;
}

spoiler {
	transition: all 0.25s ease-in-out;
}

.username.user-moderator a, .username.user-admin a {
	color: #89f967;
	text-shadow: 1px 1px 5px darkgreen;
}

.username.user-gold a {
	color: #cfbb34;
	text-shadow: 1px 1px 5px rgba(224, 188, 36, 0.5);
}

#wrapper #content .forumcategoryblock {
	width: 100%;
	border: none;
}

.drawer-container > .drawer {
	position: absolute;
	right: 0px;
	width: 15%;
}

.forumchildren {
	width: 85%;
}

body.page-forum .forumpanel {
	width: 85%;
}

#wrapper #content .forumcategoryblock .forumpanel {
	border-right: 1px solid #bbb;
}

#wrapper #content .forumcategoryblock .forumcategoryheader {
	border-right: 1px solid #bbb;
	width: 85%;
}

/*
@import url("https://cdn.rawgit.com/Tamschi/Newpunch-Hover-Ratings/master/style.css");
@import url("https://witheredgryphon.github.io/css/AlteredUsernames/AlteredUsernames.css");
@import url("https://witheredgryphon.github.io/css/GryphonCustomCSS/GryphonCustom.css");
*/