.postrender .postinner > .postuser .background-image:after {
    background: linear-gradient(to bottom, rgba(255,255,255,0), #e6e6e6 512px);
}

.postrender .postinner > .postuser .background-image::before {
	background-color: rgba(230,230,230,0.35) !important;
	transition: 0.125s all ease-out !important;
}

.postrender .postinner > .postuser { 
	max-width: 256px; flex-grow: 1; flex-basis: 256px; 
}

.postrender .postinner > .postuser .postavatar {
	transition: none;
}

.postrender .postinner > .postuser .username {
	transition: 0.25s all ease-out !important;
}

spoiler {
	transition: all 0.25s ease-in-out;
}

.username.user-moderator a, .username.user-admin a {
	color: #7bb36a !important;
}

.username.user-gold a {
	color: #cfbb34;
}
	
.postblock-own .postmain .postrender .postinner > .postcontent {
	background: linear-gradient(to left, #eeffbb 0px, #fff 250px, #e6e6e6 100%);
}
	
/*
@import url("https://cdn.rawgit.com/Tamschi/Newpunch-Hover-Ratings/master/style.css");
@import url("https://witheredgryphon.github.io/css/AlteredUsernames/AlteredUsernames.css");
@import url("https://witheredgryphon.github.io/css/GryphonCustomCSS/GryphonCustom.css");
*/