@media screen and (max-width:768px) {
	html {
		display: table;
	}
	
	html::before {
		display: none;
	}
	
	.force-wide-design #wrapper {
		padding: 0;
	}
	
	.drawer-container {
		display: inline;
	}
}