/** iPhone 5/SE **/
@media screen and (max-width:320px) {
	html::before {
		content: none;
	}
	
	.drawer-container {
		display: inline;
	}
	
	#wrapper {
		padding: 0;
	}
	
	.force-wide-design #wrapper {
		padding: 0;
	}
}