@media screen and (max-width: 768px) {
	#wrapper,
	.force-wide-design #wrapper {
		padding: 0
	}
	#wrapper #content .forumcategoryblock,
	body.page-forum .threadlistsection,
	#wrapper #content .pagnation.threadpagnation,
	#wrapper #content .pagnation.postpagnation,
	.threadlist.threadlist-regular {
		width: 100vw;
		overflow: hidden;
	}
	/* body.page-forum .threadlistsection .threadblock.has-seen.has-new-posts .threadmain{
		//max-width: calc(100% - 52px);
		//text-overflow: ellipsis;
		word-wrap: break-word;
	}
	.threadtitle{
	   max-width: calc(100% - 52px);
	}*/
	body.page-forum .threadlistsection .threadblock .threadmain {
		white-space: normal;
	}
	body.page-forum .forumblock .threadcount,
	body.page-forum .forumblock .postcount {
		display: none;
	}
	
	/** **/
	
	.postrender .postinner > .postuser .postavatar {
		display: block;
		position: absolute;
		margin: 0;
		padding-left: 4px;
		padding-top: 4px;
		left: 0;
		top: 0;
	}
	
	.postrender .postinner>.postuser .postavatar > img {
		width: 32px !important;
		height: 32px !important;
	}
	
	#wrapper #content .threadlist .threadblock .threadage,
	#wrapper #content .threadlist .threadblock .postcount {
		display: none;
	}
	
	.postblock .postmain .postinner .postuser .background-image {
		display: block !important;
		height: calc(100% - 39px);
		margin-top: 39px;
		width: 100vw;
		opacity: 0.15;
		background-size: 100vw auto;
		z-index: 2;
	}
	
	.postblock .postmain .postinner .postuser .background-image:after {
		background: linear-gradient(to bottom, rgba(255,255,255,0), #e6e6e6 496px);
	}
	
	#wrapper #content .postlist .forumpanel>.postmain .posthead {
		height: 40px;
	}
	
	#wrapper #content .postlist .forumpanel>.postmain .posthead * {
		position: relative;
		z-index: 5;
	}
	
	#wrapper #content .postlist .postblock .postmain .postinner .postuser {
		height: 100%;
		padding: 0;
		top: 0px;
		background: transparent;
		border: none;
		flex-shrink: initial;
		position: absolute;
	}
	
	.ql-container.ql-snow .ql-editor {
		height: auto;
		min-height: 50px;
		z-index: 3;
		position: relative;
	}
	
	.postrender .postinner>.postuser .posterinfo {
		line-height: 40px;
		vertical-align: middle;
		display: inline-block;
	}
	
	.ql-container.ql-snow .ql-editor postquote .body .expandable {
		padding: 0.4rem;
	}
	
	/** **/
	
	#wrapper #content .pagnation.threadpagnation a.page.is-spacer,
	#wrapper #content .pagnation.postpagnation a.page.is-spacer,
	#wrapper #content .pagnation.threadpagnation a.page.is-spacer,
	#wrapper #content .pagnation.postpagnation a.page:not(.is-active):not(.prevpage):not(.is-last):not(.nextpage) {
		display: none;
	}
	#wrapper #content .pagnation.postpagnation a.page:nth-of-type(2) {
		display: block!important;
	}
	#wrapper #content .postlist .postblock .postmain .postinner .postuser .user-card {
		display: none;
	}

	.postrender .postinner>.postuser .username {
		padding: 0;
		padding-left: 40px;
		width: 200px;
	}
	.postblock.postblock-read .postcontent,
	.postblock .postcontent {
		position: relative;
		max-width: 100vw;
	}
	#wrapper #content .postlist .forumpanel {
		max-width: 100vw;
	}
	.threadreply .postinner>.postuser {
		display: none;
	}
	#wrapper #content .postlist .forumpanel>.postmain .postfoot,
	.navbar-toolbar .container .navbar-brand {
		overflow-x: scroll;
	}
	#header .navbar-main.navbar.is-dark .navbar-brand .navbar-item.logo {}
	.navbar.is-dark {
		height: 85px;
	}
	#header #toolbar {
		margin-left: 0;
	}
	.expandable,
	.postrender .postinner .postbody {
		padding: 5px;
	}
	.postblock .postfoot .left {
		overflow: scroll;
		justify-content: baseline;
	}
	.votes .votelist {
		overflow: scroll;
	}
	.postblock .postfoot {
		display: block;
	}
	.postblock .postfoot .right .votebuttons {
		flex-basis: auto;
		flex-shrink: 0;
		display: block;
	}
	.postblock .postfoot .right .votebuttons>span {
		float: left;
	}
	.postblock .postfoot .right .votebuttons .votebutton img {
		width: 25px;
		height: auto;
	}
	.threadreply .ql-container.ql-snow .ql-editor {
		min-height: 200px;
	}
	.postblock .postfoot .right,
	.postblock .postfoot .right>span {
		display: block;
	}
	body.force-wide-design #wrapper {
		padding-left: 0px;
		padding-right: 0px;
	}
	#nav-menu {
		position: relative;
		z-index: 11;
	}
	.dropdown .background,
	.dropdown.is-mobile-modal .dropdown-menu {
		pointer-events: none;
	}
	.dropdown-content {
		pointer-events: all;
	}
	.alert-component .dropdown-content {
		height: auto;
	}
	body.page-forum .threadlistsection .threadblock .threadmain .threadtitle {
		max-height: 500px;
		overflow: hidden;
	}
	#wrapper #content .forumcategoryblock .forumpanel {
		display: flex;
		flex-direction: column;
	}
	#wrapper #content .forumcategoryblock .forumpanel .forumlastpost {
		max-height: 50px;
		text-align: right;
	}
	#wrapper #content .forumcategoryblock .forumpanel .forumicon {
		display: flex;
		position: absolute;
	}
	body.page-forum .forumblock .forumname {
		padding-left: 56px;
	}
	.drawer-container>.drawer>.drawer-section:nth-of-type(2),
	.drawer-container>.drawer>.drawer-section:nth-of-type(3),
	.drawer-container>.drawer>.drawer-section:nth-of-type(4) {
		display: none;
	}
	.drawer-container {
		display: block;
	}
	.drawer-content>div>a.is-success>span {
		display: block !important;
	}
	.drawer-container>.drawer {
		display: none;
	}
	.threadlistsection .container .drawer-container>.drawer {
		display: block;
		flex-basis: 250px;
		flex-grow: 0;
		flex-shrink: 0;
		overflow: hidden;
		padding-bottom: 2rem;
		min-height: auto;
		height: 169px;
	}
}