/* 
#0b0C10 - background
#1F2833 - deep blue
#e1e5e8 - gray (font)
#4d4dff - neon blue
*/

* {
	color: #e1e5e8;
}

body {
	background-color: #0b0c10;
}


@media screen and (min-width: 1025px) {
	.contentWrapper {
		margin-left: 15%;
		margin-right: 15%;
		background-color: #13151b;
	}

	.videoWrapper {
		border-bottom: 2px solid #4d4dff;
	}

	.novelTitle {
		margin-top: 16px;
		margin-bottom: 16px;
		font-weight: bold;
		font-size: 48px;
		text-align: center;
	}

	.developer {
		font-weight: normal;
		font-size: 24px;
	}
	
	.availablility {
		border-bottom: 2px solid #4d4dff;
		font-size: 16px;
		padding-top: 8px;
	}
	
	.leftText {
		display: inline;
		margin-left: 16px;
	}
	
	.rightText {
		display: inline;
		float: right;
		margin-right: 16px;
	}
}

@media screen and (max-width: 1024px) {
	.contentWrapper {
		background-color: #13151b;
	}

	.videoWrapper {
		border-bottom: 2px solid #4d4dff;
	}

	.novelTitle {
		margin-top: 16px;
		font-weight: bold;
		font-size: 48px;
		font-size: 6vw;
		text-align: center;
		border-bottom: 1px solid #4d4dff;
	}

	.developer {
		font-weight: normal;
		font-size: 24px;
		font-size: 3vw;
	}
}