/*
#0b0C10 - background
#1F2833 - deep blue
#e1e5e8 - gray (font)
#4d4dff - neon blue
*/

* {
    color: #e1e5e8
}

img {
    width: inherit
}

a,a:hover {
    color: #8989ff
}

body {
    background-color: #0b0c10;
    background-image: url(../images/shoujo_wp.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 50px
}

.navbar {
    border: 0;
    margin-bottom: 16px
}

.navbar-default {
    background-color: #4d4dff;
    border-radius: 0;
    border-color: unset;
    color: #0a0a0a;
    box-shadow: 0 1px 9px 2px
}

.navbar-default .navbar-brand {
    font-weight: 700;
    color: #e1e5e8
}

.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover {
    color: #b0b9bf
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #0b0c10;
    overflow-x: hidden;
    transition: .35s;
    padding-top: 50px
}

.sidenav .sideNavItem a {
    padding: 16px 8px;
    text-decoration: none;
    font-size: 1.2em;
    color: #e1e5e8;
    display: block;
    transition: .3s;
    width: max-content
}

.sidenav .sideNavItem {
    border-bottom: solid 1px #333;
    width: 100%
}

.sidenav a:hover {
    color: #b0b9bf
}

.contentWrapper {
    margin-left: 15%;
    margin-right: 15%;
    background-color: #13151b
}

.topWrapper {
    border-bottom: 2px solid #4d4dff;
    padding-bottom: 30px
}

.novelDeveloper2,.novelPublisher2 {
    color: #4d4dff
}

.midWrapper {
    padding: 30px 15px;
    background-color: #13151b
}

.sectionHead {
    font-size: 24px;
    border-bottom: 1px solid #4d4dff
}

.vnButton {
    margin-bottom: 8px
}

.contentWarningMobile,.contentWarningWeb {
    border: 1px solid red;
    border-radius: 1px
}

.contentWarningMobile {
    display: none
}

@media screen and (max-width:375px) {
    .contentWarningMobile,.contentWarningWeb {
        border: 1px solid red;
        border-radius: 1px;
        display: none
    }

    .contentWarningMobile {
        display: block
    }

	.
}

.novelDeveloper,.novelPublisher {
    color: #8989ff
}

.linksHead,.similarNovelsHead {
    font-size: 20px;
    background-color: #4d4dffbb;
    text-align: center;
    padding: 2px
}

.bannerThumb,.bannerThumb img {
    width: 100%
}

#mobileBar {
    display: none
}

.valign {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center
}

.lbWindow {
    width: 100%
}

.lightbox .lb-image {
    border: 4px solid #1f2833!important
}

.lb-data .lb-number {
    color: #e1e5e8!important
}

@media screen and (max-width:1199px) {
    .contentWrapper {
        margin: 0
	}

    .item {
        margin-top: 16px
    }

    #webBar {
        display: none
    }

    #mobileBar {
        display: block
    }
}

.mobileNav {
	display: none;
}

.novelTitle {
	margin-top: 16px;
    margin-bottom: 16px;
    font-size: 48px;
    text-align: left
}

@media screen and (max-width:767px) {
    .clearfix {
        max-width: 1024px!important
    }

    body {
        background: unset
    }

    .valign {
        display: block
    }

	.webNav {
		display: none;
	}

	.mobileNav {
		display: block;
	}

	.novelTitle {
		font-size: 2.5em;
	}
}

.content-slider li {
    text-align: center
}

.developer {
    font-weight: 400;
    font-size: 24px
}
