/* 
#0b0C10 - background
#1F2833 - deep blue
#e1e5e8 - gray (font)
#66cf1 - neon blue
#45A29E - teal (icons?)
*/

body {
	background-color: #0b0c10;
}

.navbar {
	border: none;
	margin-bottom: 0px;
}

.navbar-default {
	background-color: #1f2833;
	border-radius: 0px;
	border-color: unset;
	color: #0a0a0a;
	box-shadow: 0px 1px 9px 8px;
}

.navbar-default .navbar-brand {
	font-weight: bold;
	color: #e1e5e8;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	width: 100%;
}

#highlightCarousel {
	border-bottom: 2px solid;
	border-bottom-color: white;
}