.postrender .postinner > .postuser {
	padding: 0px;
}

.postrender .postinner > .postuser .username {
	text-align: center;
	text-shadow: 0.5px 0.5px 0.25px #555;
	font-weight: bolder;
	padding-bottom: 2.0rem;
	padding-top: 0px;
	top: 0px;
}

span.userlevel {
	display: flex;
	position: absolute;
	top: 0px;
	right: 0px;
	left: auto;
	border-radius: unset;
	border-bottom-left-radius: 3px;
	padding: 4px 8px;
}