#wrapper #content .forumcategoryblock {
	width: 100%;
	border: none;
}

.drawer-container > .drawer {
	position: absolute;
	right: 0px;
	width: 15%;
	border-right: unset;
}

.forumchildren {
	width: 100%;
}

body.page-forum .forumpanel {
	width: 85%;
}

#wrapper #content .forumcategoryblock .forumpanel {
	border-right: 1px solid #bbb;
}

#wrapper #content .forumcategoryblock .forumcategoryheader {
	width: 85%;	
	border-right: 1px solid #bbb;
}

.pagnation.threadpagnation.above {
	width: 85%;
	border-right: 1px solid #bbb;
}

.threadlist.threadlist-regular {
	width: 85%;
	border-right: 1px solid #bbb;
}

.pagnation.threadpagnation.below {
	width: 85%;
	border-right: 1px solid #bbb;
}

#wrapper #content .threadlist .threadblock {
	width: 100%
}
	
body.page-forum .threadviewsection .postblock {
	width: 100%
}

body.page-forum .threadlistsection .threadlist {
	max-width: 85%;
	width: 85%;
}